<?php
$namespaceDefinition
use Zls\Migration\AbstractMigration;

class $className extends AbstractMigration
{
    /**
     * Change Method.
     * Write your reversible migrations using this method.
     * More information on writing migrations is available here:
     * https://docs.73zls.com/zls-php/#/packages-migration/writing-migrations?id=%E5%88%9B%E5%BB%BA%E8%BF%81%E7%A7%BB%E8%84%9A%E6%9C%AC
     * The following commands can be used in this method
     * automatically reverse them when rolling back:
     *    createTable
     *    renameTable
     *    addColumn
     *    addCustomColumn
     *    renameColumn
     *    addIndex
     *    addForeignKey
     * Any other destructive changes will result in an error when trying to
     * rollback the migration.
     * Remember to call "create()" or "update()" and NOT "save()" when working
     * with the Table class.
     */
    public function change()
    {


    }

    /**
     * Migrate Up.
     */
    public function up()
    {

    }

    /**
     * Migrate Down.
     */
    public function down()
    {

    }
}
